.settings-container{
    display: flex;
    gap: 20px;
    height: 100vh;
}

#settings-nav{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    margin-left: 40px;
   
}

#settings-nav h1{
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    color: #000000;
    display: block;
    width: 100%;
    padding: 0;
    overflow: visible;
}

#settings-content{
    flex: 1;
    padding-left: 0 30px;
    border-left: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 0px 30px;
}


img{
    width: 20px;
    height: 20px;
    font-weight: bold;
}
#search-input{
    width: 250px;
    height:50px;
    border-radius:13px;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #f0e6ff;
}   

#search-field{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#search-field img{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    pointer-events: none;
    
}   

#back-button, #account-field, #privacy-field, #notif-field, #about-field{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-left: 1px solid transparent;
    margin-top: 5px;
    
}
   

#back-button:hover, #account-field:hover, #privacy-field:hover, #notif-field:hover, #about-field:hover{
    background-color:#f0f0f0;
    border-left: 7px solid #4F39F6;
    border-radius: 7px;
}   

#account-field.selected, #privacy-field.selected, #notif-field.selected, #about-field.selected{
    border-left: 7px solid #4F39F6;
    font-weight: bold;
    padding: 2px;
    border-radius:7px;
    background-color: #4f39f60e;
}


#account-field.selected img, #privacy-field.selected img, #notif-field.selected img, #about-field.selected img{
  
 filter: invert(27%) sepia(93%) saturate(3000%) hue-rotate(237deg) brightness(97%) contrast(97%);
}

